.userHome__slidder {
  width: 100%;
  height: 500px;
  margin-top: 2px;
}

.useCarousel {
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 80px;
}

.cardContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.cardContainer .card {
}
